################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/serial_lihter/v15
/.vs/serial_lihter/v15
/.vs/serial_lihter/v15
