################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/serial_lihter/v15/ipch/AutoPCH/SERIAL_LIHTER-a2350501
